*{
    margin:0;
    padding:0;
}
.title_text{
    padding:5px;
    color: white;
    text-align: center;
    background-color: chocolate;
}
.card_text{
    text-align:justify;
    padding:5px;
    background-color: rgb(101, 241, 246);
    border: 2px solid rgb(8, 181, 120);
    margin: 5px;
}